body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
}
form{
    width: 500px;
    text-align: center;
}
h1 {
    color: #288227;
}
label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}
input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
    background-color: #4c499d;
    font-size: 16px;
}