body {
  display: flex;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  text-align: center;
}

h1 {
  color: #288227;
}

label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

input,
select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: white;
  background-color: #4c499d;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #3b3a80;
}

#message {
  color: red;
  margin-top: 10px;
}
